/* Write your CSS here */
.coverage-card-container {
  background-color: #1c1c2b;
  padding: 10px;
  margin-bottom: 10px;
}

.coverage-card-heading {
  color: #cbd5e1;
  font-size: 30px;
  font-weight: 600;
  font-family: 'Roboto';
}
